.editarevento-container {
    width: 100%;
    padding-top: 20px;
    background-color: rgba(10, 20, 40, 0.65);
    display: flex;
    justify-content: center;
    min-height: 82.5vh !important;
    padding-bottom: 30px;
}

.form-container11 {
    display: inline-block;
    width: 40% !important;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(10, 20, 40, 0.75);
    border: 1px solid #C89B3C;
    box-shadow: 0px 0px 50px 10px #010A13;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.h1eevento {
    font-size: 2rem !important;
    font-family: "BEAUFORT";
    color: #C89B3C;
    text-align: center;
    margin-bottom: 15px !important;
}

.form-container11 label {
    color: #F0E6D2;
    display: block;
    margin-bottom: 10px;
    font-family: "SPRIEGEL";
    font-size: 1rem !important;
    line-height: 1.5em;
}

.form-container11 input[type="datetime-local"] {
    width: 97%;
    margin-right: 7px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #010A13;
    background-color: #F0E6D2;
    color: #010A13;
    line-height: 1.5em;
    font-size: 1rem !important;
    margin-bottom: 10px !important;
}

.form-container11 input[type="text"] {
    width: 97%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #010A13;
    background-color: #F0E6D2;
    color: #010A13;
    line-height: 1.5em;
    font-size: 1rem !important;
    margin-bottom: 10px !important;
}

.form-container11 select {
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #010A13;
    background-color: #F0E6D2;
    color: #010A13;
    line-height: 1.5em;
    font-size: 1rem !important;
    cursor: pointer;
    appearance: none;
}

.form-container11 option {
    background-color: #F0E6D2;
    color: #010A13;
    padding: 20px !important;
    box-sizing: border-box;
    line-height: 1.5em !important;
    font-size: 1rem !important;
}

    .form-container11 option:hover {
        background-color: #C89B3C !important;
        color: #F0E6D2 !important;
        border: 2px solid #091428 !important;
        font-size: 1rem !important;
    }

.form-container11 button,
.sidebar-link6 {
    width: 50%;
    margin-right: 10px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #C89B3C;
    cursor: pointer;
    font-family: "SPRIEGEL";
    font-size: 1rem !important;
    line-height: 1.5em;
    border: 2px solid #C89B3C;
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .form-container11 button:hover,
    .sidebar-link6:hover {
        background-color: #091428;
        color: #F0E6D2;
    }

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


    .button-container button {
        margin-right: 15px;
    }

.sidebar-link6 {
    margin-left: 15px;
    justify-content: center;
    text-align: start !important;
}

.checkbox-container {
    display: flex;
    align-items: start;
}

    .checkbox-container label {
        margin-left: 10px;
        font-size: 1rem;
        color: #F0E6D2;
    }



.fecha-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}


    .fecha-container input:first-child {
        margin-right: 15px;
    }

    .fecha-container input:last-child {
        margin-left: 15px;
    }

    .fecha-container img.calendario-icon {
        position: absolute;
        top: 35%;
        left: 42%;
        transform: translateY(-50%);
        cursor: pointer;
        width: 49px;
    }

#calendario-icon {
    background-image: url('../../../public/images/Iconos/Icono11.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 51%;
    transform: translateY(-50%);
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: start;
}

.h1eevento {
    font-size: 2rem !important;
    font-family: "BEAUFORT";
    color: #C89B3C;
    text-align: center;
    margin-bottom: 15px;
}



.sidebar-link6 {
    justify-content: center;
    text-align: start !important;
    color: black;
}

    .sidebar-link6:hover {
        background-color: #091428;
        color: #F0E6D2;
    }

.button-container-eevento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 15px;
}

.button-e-1 {
    border-color: #0397AB !important;
    background-color: #091428 !important;
    color: #F0E6D2;
}


    .button-e-1:hover {
        background-color: #0397AB !important;
        color: #091428 !important;
    }

.button-e-2 {
    margin-left: 15px !important;
    background-color: #091428 !important;
    color: #F0E6D2;
}

    .button-e-2:hover {
        background-color: #C89B3C !important;
        color: #091428 !important;
    }