.footer {
    background-color: #091428;
    color: #C89B3C;
    padding: 2% 15%;
    border-top: 3px solid #C89B3C;
    font-family: "SPRIEGEL";
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-div {
    flex: 1;
}

    .footer-div img {
        max-width: 80%;
        height: auto;
    }

    .footer-div .pfooter {
        margin: 0;
    }

.footer-section:first-child .footer-div a,
.footer-section:last-child .footer-div a{
    text-decoration: none;
}

    .footer-section:first-child .footer-div a:hover,
    .footer-section:last-child .footer-div a:hover{
        text-decoration: underline;
    }

.logo3 {
    width: 50%;
}

.footer-div,
.footer-div .pfooter {
    text-align: center;
}

.footer-section:first-child .footer-div a,
.footer-section:last-child .footer-div .pfooter,
.footer-section:last-child .footer-div a {
    color: #F0E6D2;
}

.footer-section:first-child .footer-div a,
.footer-section:last-child .footer-div a {
    cursor: pointer;
}

.pfooter {
    font-size: 1rem !important;
}

.logos {
    max-height: 175px;
}