.sobre-nosotros-container {
    background-color: #0A1428;
    background-image: url('../../../public/images/SobreNosotros/SobreNosotros1.jpg');
    background-position: center;
}

.sobre-nosotros-container2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: rgba(10, 20, 40, 0.75);
    padding-bottom: 80px;
    padding-top: 50px;
}

.rukaya {
    margin-left: 10%;
    margin-right: 1%;
}

.rukaya li::before {
    background-image: url('../../../public/images/Iconos/Icono2.png');
}

.sergio {
    margin-right: 10%;
    margin-left: 1%;
}

.sergio li::before {
    background-image: url('../../../public/images/Iconos/Icono2.png');
}

.h1nosotros {
    font-size: 2rem;
}

.h2nosotros {
    font-size: 1.8rem;
}

.h4nosotros {
    font-size: 1.6rem;
}

.strongnosotros {
    font-size: 1.1rem;
}

.ulnosotros {
    list-style: none;
    padding: 0;
}

.linosotros {
    margin-left: 18%;
    padding-right: 12%;
    position: relative;
    padding-bottom: 20px;
}

.avatar {
    border-radius: 50%;
    border: 5px solid #C89B3C;
    width: 325px;
    height: 325px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sobre-nosotros-container2,
.sobre-nosotros-container2 > div {
    width: 100%;
    display: flex;
}

.rukaya,
.sergio {
    padding: 20px;
    border: 2px solid #C89B3C;
    background-color: rgba(10, 20, 40, 0.65);
    box-shadow: 0px 0px 50px 10px #010A13;
    margin-bottom: 50px;
}

.rukaya li::before,
.sergio li::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -70px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
}

.h2nosotros, .pnosotros {
    padding-left: 10%;
    padding-right: 10%;
}

.h3nosotros, .h5nosotros {
    font-size: 1.1rem;
}



.pnosotros, .ulnosotros {
    font-size: 1rem;
    font-family: "SPRIEGEL" !important;
    text-align: start;
}

.sobre-nosotros-container,
.rukaya li::before,
.sergio li::before {
    background-size: cover;
}

.h2nosotros, .h4nosotros, .strongnosotros {
    color: #C89B3C;
}

.h1nosotros, .h2nosotros, .h3nosotros, .h4nosotros, .h5nosotros {
    font-family: "BEAUFORT";
}

.h1nosotros, .h3nosotros, .h5nosotros, .pnosotros, .ulnosotros {
    color: #F0E6D2;
}

.h1nosotros, .h2nosotros, .h3nosotros, .h4nosotros, .h5nosotros, .pnosotros, .ulnosotros {
    line-height: 1.5em;
}