.login-container {
    width: 100%;
    overflow: hidden;
    background-color: rgba(10, 20, 40, 0.25);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form,
.register-form {
    width: 32%;
    margin: auto;
}

    .login-form button {
        margin: 0 auto;
        margin-top: 20px;
    }

.login-form-button {
    width: 100%;
    margin-bottom: 28px;
    display: inline-block;
    margin-top: 20px;
}

    .register-form button {
        width: 100%;
        margin-top:20px;
    }

.remember-forgot {
    display: flex;
    align-items: start;
}

    .remember-forgot input[type="checkbox"] {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        appearance: none;
        outline: none;
        position: relative;
        background-color: #010A13;
    }

        .remember-forgot input[type="checkbox"]:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid #0A1428;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

    .remember-forgot a:hover {
        text-decoration: underline;
    }

.login-form{
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(10, 20, 40, 0.75);
    box-shadow: 0px 0px 50px 10px #010A13;
}

.register-form {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(10, 20, 40, 0.75);
    box-shadow: 0px 0px 50px 10px #010A13;
}

    .login-form h2,
    .register-form h2 {
        color: #C89B3C;
        margin-bottom: 20px;
        font-size: 2rem;
        font-family: "BEAUFORT";
    }

    .login-form label,
    .register-form label {
        display: block;
        margin-bottom: 5px;
    }

    #confirmPassword {
        margin-bottom: 5px;
    }

.login-form input[type="password"] {
    margin-bottom: 5px;
}

.login-form-button,
.remember-forgot a {
    text-decoration: none;
}

.remember-forgot,
.remember-forgot a {
    margin-bottom: 12px;
}

    .login-form,
    .register-form,
    .remember-forgot input[type="checkbox"] {
        border: 2px solid #C89B3C;
    }

        .login-form h2,
        .login-form-button,
        .register-form h2 {
            text-align: center;
        }

        .login-form button,
        .login-form-button,
        .register-form button {
            padding: 12px;
            border: none;
            cursor: pointer;
            border:3px solid #C89B3C;
        }

            .login-form button:hover,
            .login-form-button:hover,
            .register-form button:hover {
                background-color: #091428;
            }

        .login-form button,
        .login-form-button,
        .register-form button,
        .remember-forgot input[type="checkbox"]:checked {
            background-color: #C89B3C;
        }

        .login-form input[type="text"],
        .login-form input[type="password"],
        .register-form input[type="email"],
        .register-form input[type="text"],
        .register-form input[type="password"] {
            width: 96%;
            padding: 10px;
            background-color: #F0E6D2;
            border: 2px solid #010A13;
        }

        .login-form label,
        .login-form button,
        .login-form-button,
        .register-form label,
        .register-form button,
        .remember-forgot {
            font-family: "SPRIEGEL";
        }

            .login-form label,
            .login-form button:hover,
            .login-form-button:hover,
            .register-form label,
            .register-form button:hover,
            .remember-forgot a {
                color: #F0E6D2;
            }

        .login-form input[type="text"],
        .login-form button,
        .register-form input[type="email"],
        .register-form input[type="text"],
        .register-form input[type="password"],
        .register-form button {
            margin-bottom: 10px;
        }

        .login-form input[type="text"],
        .login-form input[type="password"],
        .login-form button,
        .login-form-button,
        .register-form input[type="email"],
        .register-form input[type="text"],
        .register-form input[type="password"],
        .register-form button {
            border-radius: 5px;
            color: #010A13;
        }

        .login-form label,
        .login-form input[type="text"],
        .login-form input[type="password"],
        .login-form button,
        .login-form-button,
        .register-form label,
        .register-form input[type="email"],
        .register-form input[type="text"],
        .register-form input[type="password"],
        .register-form button,
        .remember-forgot a {
            font-size: 1rem;
        }

        .login-form h2,
        .login-form label,
        .login-form input[type="text"],
        .login-form input[type="password"],
        .login-form button,
        .login-form-button,
        .register-form h2,
        .register-form label,
        .register-form input[type="email"],
        .register-form input[type="text"],
        .register-form input[type="password"],
        .register-form button,
        .remember-forgot,
        .remember-forgot input[type="checkbox"],
        .remember-forgot a {
            line-height: 1.5em;
        }

.validacionlogin {
    text-align: start;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.plogin {
    color: #CDFAFA;
    text-shadow: 0px 0px 20px #005A82;
    font-weight: 1000;
    font-size: 1rem;
    font-family: "SPRIEGEL";
    text-align: start !important;
    margin: 0px;
    padding-top: 7px;
    display: flex;
    align-self: flex-start;
    padding-left:0px;

}

.icono10 {
    width: 40px !important;
    height: 40px;
    margin-right: 7px;
}

.error {
    border: 2px solid #0397AB !important;
    box-shadow: 5px 5px 50px 0 #0397AB;
}