.creareventotarea-container {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(10, 20, 40, 0.65);
    min-height: 1130px !important;
}

.creareventotarea-tabs,
.tab-buttons {
    display: flex;
    justify-content: center;
}

    .creareventotarea-tabs button,
    .tab-buttons h2 {
        cursor: pointer;
        color: #C89B3C;
        font-family: "BEAUFORT";
        font-size: 1.5rem;
        margin: 0 10px;
        padding: 10px 20px;
        border-bottom: 2px solid transparent;
    }

        .creareventotarea-tabs button.active,
        .tab-buttons h2.active {
            border-bottom-color: #C89B3C;
            box-shadow: 0px 0px 95px 30px rgba(10, 20, 40, 0.9);
            background-color: rgba(10, 20, 40, 0.6);
            border-radius: 50px 50px 0 0;
        }

.form-container {
    width: auto !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
    align-items: center;
    margin: 50px auto;
    padding: 70px;
    border-radius: 10px;
    background-color: rgba(10, 20, 40, 0.75);
    border: 1px solid #C89B3C;
    box-shadow: 0px 0px 50px 10px #010A13;
}

    .form-container h2 {
        color: #C89B3C;
        text-align: center;
        margin-bottom: 32px !important;
        font-size: 2.5rem;
        font-family: "BEAUFORT";
        line-height: 1.5em;
    }

    .form-container label {
        color: #F0E6D2;
        display: block;
        margin-bottom: 10px;
        font-family: "SPRIEGEL";
        font-size: 1.3rem;
        line-height: 1.5em;
    }

    .form-container input[type="date"],
    .form-container input[type="time"] {
        width: 100%;
        margin-right: 7px;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #010A13;
        background-color: #F0E6D2;
        color: #010A13;
        line-height: 1.5em;
        font-size: 1.3rem;
    }

    .form-container input[type="text"],
    textarea {
        width: 97%;
        margin-right: 3%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #010A13;
        background-color: #F0E6D2;
        color: #010A13;
        line-height: 1.5em;
        font-size: 1.3rem;
    }

select#calendario {
    width: 100%;
    margin-right: 10px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #010A13;
    background-color: #F0E6D2;
    color: #010A13;
    line-height: 1.5em;
    font-size: 1.3rem;
    cursor: pointer;
    appearance: none;
}

    select#calendario option {
        background-color: #F0E6D2;
        color: #010A13;
        padding: 15px !important;
        box-sizing: border-box;
    }

        select#calendario option:hover {
            background-color: #C89B3C !important;
            color: #F0E6D2 !important;
            border: 2px solid #091428 !important;
        }

.form-container button,
.sidebar-link {
    width: 100%;
    margin-right: 10px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #C89B3C;
    cursor: pointer;
    font-family: "SPRIEGEL";
    font-size: 1.3rem;
    line-height: 1.5em;
    margin-bottom: 20px;
    border: 4px solid #C89B3C;
}

    .form-container button:hover,
    .sidebar-link:hover {
        background-color: #091428;
        color: #F0E6D2;
    }

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


    .button-container button {
        margin-right: 15px;
    }

.sidebar-link {
    margin-left: 15px;
    justify-content: center;
    text-align: start !important;
}

.checkbox-container {
    display: flex;
    align-items: start;
}

    .checkbox-container label {
        margin-left: 10px;
        font-size: 1.3rem;
        color: #F0E6D2;
    }

.button-container button,
.sidebar-link {
    margin-right: 10px;
}

.fecha-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}


    .fecha-container input:first-child {
        margin-right: 15px;
    }

    .fecha-container input:last-child {
        margin-left: 15px;
    }

    .fecha-container img.calendario-icon {
        position: absolute;
        top: 35%;
        left: 42%;
        transform: translateY(-50%);
        cursor: pointer;
        width: 49px;
        height: auto;
    }

#calendario-icon {
    background-image: url('../../../public/images/Iconos/Icono11.png');
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 51%;
    transform: translateY(-50%);
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: start;
}

.h1 {
    font-size: 2.7rem;
    text-align: center;
}
