.tareas-container {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background-color: rgba(10, 20, 40, 0.65);
    /*display: flex;*/
    justify-content: center;
    min-height: 85.8vh;
}

.tareas-container2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
}

.h1tareas {
    color: #F0E6D2;
    font-family: "BEAUFORT";
    font-size: 2rem;
    padding-bottom: 20px;
}

.tareas-container2,
.tareas-container2 > div {
    width: 80%;
}

.h1tareas {
    line-height: 1.5em;
}

.div-container-tareas {
    /*border-bottom: 2px solid #C8AA6E;*/
}

.button-container {
    width: 100%; 
}

.tab-activo {
    background-color: #ddd;
    color: #333;
}

.tab-inactivo {
    background-color: #fff;
    color: #666;
}