.calendar-container {
    height: 100%;
    max-height: 1200px;
    overflow: hidden;
    padding-top: 50px;
    background-color: rgba(10, 20, 40, 0.65);
}

.fc {
    height: 1200px;
}

.fc-daygrid-day {
    font-size: 1.5rem;
}

.fc-daygrid-event {
    background-color: #1E282D;
    border-color: #C89B3C;
    font-size: 1rem;
    display: block;
    padding: 2px 0;
}

.fc-daygrid-event-dot {
    background-color: #C8AA6E;
}

.fc-toolbar-title {
    font-family: "BEAUFORT";
    font-size: 2.2rem !important;
    text-transform: uppercase;
    top: 165px;
    transform: translateX(-50%);
}

input[type="checkbox"]:after {
    content: '';
    left: 5px;
    top: 1px;
    width: 5px;
    height: 12px;
    border: solid #0A1428;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.calendars-title {
    font-size: 1.8rem;
    border-bottom: 2px solid #C89B3C;
}

.container3 {
    width: 400px;
    padding-top: 70px;
    justify-content: start;
    flex-direction: column;
    box-shadow: 0px 0px 30px 0px #010A13;
}

.fc-daygrid-event-title-container {
    border-bottom: 2px solid #C8AA6E;
}

.fc-today-button {
    background-color: #C89B3C !important;
    color: #010A13 !important;
    border-color: #C89B3C !important;
    font-size: 1rem !important;
    font-family: "SPRIEGEL" !important;
}

.fc-col-header-cell {
    background-color: rgba(240, 230, 210, 0.75);
}

.fc-header-toolbar {
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 20px;
}

.container2 {
    flex: 1;
    width: auto;
}

.login-form {
    width: 500px;
    margin: 305px auto;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: rgba(10, 20, 40, 0.75);
}

span {
    padding-top: 13px;
}

.calendars-container {
    margin-top: 5px;
    width: 88%;
}

.icono1 {
    width: 50px;
    height: auto;
    margin-right: 12px;
    margin-top: 10px;
}

.calendars-list {
    list-style: none;
    padding: 0;
    margin-bottom: 12px;
}

.sidebar-link {
    align-items: center !important;
    align-content: center;
    padding: 10px;
    padding-bottom: 12px;
    padding-top: 5px;
    padding-right: 15px;
    margin-left: 35px !important;
    border-radius: 5px;
    margin-right: 15px;
    color: #010A13;
    cursor: pointer;
    font-size: 1.3rem;
    border: 4px solid #C89B3C;
    text-decoration: none;
}

.calendars-list li {
    margin-bottom: 8px;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    appearance: none;
    outline: none;
    position: relative;
}

    input[type="checkbox"]:checked,
    .sidebar-link {
        background-color: #C89B3C;
    }

.calendars-list,
.sidebar-link {
    font-family: "SPRIEGEL";
}

.fc-day-header,
.fc-daygrid-event-title {
    color: #091428;
}

.calendars-title,
.fc-toolbar-title {
    color: #C89B3C;
}

.fc-toolbar-title,
input[type="checkbox"]:after {
    position: absolute;
}

.container3,
.calendars-list {
    align-items: center;
}

input[type="checkbox"],
.login-form {
    border: 1px solid #C89B3C;
}


.login-form,
.sidebar-link {
    box-shadow: 0px 0px 50px 10px #010A13;
}

.calendar-container,
.fc,
.fc-toolbar-title {
    width: 100%;
}

.fc-day-today,
.fc-daygrid-day,
.sidebar-link:hover {
    color: #F0E6D2;
}

.fc-daygrid-event,
.fc-toolbar-title,
.container3 {
    text-align: center;
}

.sidebar-link:hover,
.container3,
input[type="checkbox"] {
    background-color: #091428;
}

.container,
.container3,
.sidebar-link {
    display: flex;
}

.calendars-list,
.sidebar-link,
input[type="checkbox"] {
    line-height: 1.5em;
}


/*Prueba rukaya*/
.modal {
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .popoverStyle {
        z-index:99999 !important;
    }
a {
    color: #F0E6D2
}